import java.io.*;
import java.util.*;
import java.math.*;

public class ${ClassName} {
    public ${Method.ReturnType} ${Method.Name}(${Method.Params}) {
        return ${Method.ReturnType;zeroval};
    }

    ${CutBegin}
    ${<TestCode}
    ${CutEnd}
}
